src/PingPong/SampleData/TweetSampleDataSource/TweetSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TweetSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TweetSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TweetSampleDataSource" type="tns:TweetSampleDataSource" />
  <xs:complexType name="TweetSampleDataSource">
    <xs:sequence>
      <xs:element name="User" type="tns:User" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="29,12" name="Text" type="xs:string" />
    <xs:attribute blend:Format="Date" name="CreatedAt" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="User">
    <xs:attribute blend:Format="Name" name="ScreenName" type="xs:string" />
  </xs:complexType>
</xs:schema>